td.number {
    text-align: right;
}

td.text {
    text-align: left;
}

tr:nth-child(even) {
    background-color: white;
}

.fullpage {
    background: rgba(128, 128, 128, 0.5);
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.flexBox {
    position: fixed;
    z-index: 100;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    background: #e2e2e2;
}

.tall-form {
    margin: -325px 0 0 -180px;
    height: 645px;
    width: 360px;
}

.tall-form-centered {
    margin: 15px 24px 15px 24px;
}

.short-form {
    margin: -241px 0 0 -180px;
    height: 482px;
    width: 360px;
}

.short-form-centered {
    margin: 15px 24px 15px 24px;
}