@{
    ViewBag.Title = "Bowling";
}

@section scripts{
    <script src="~/Scripts/bowling.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/bowling.css">
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <input id="nudPins" value="0" runat="server" type="number" min="0" max="10" onkeypress="hitenter(event)" />
    <button onclick="getFrame(); return false;">submit</button>
    <label id="lblMessage"></label>
    <br />
    <div class="rolls">
        @for (int index = 0; index < 20; index += 2)
        {
            <div id="lblRoll@(index)" class="pins"></div>
            <div id="lblRoll@(index+1)" class="pins2"></div>
        }
        <div id="lblRoll20" class="pins3"></div>
    </div>
    <div class="scores">
        @for (int index = 0; index < 9; index++)
        {
            <div id="lblFrame@(index)" class="score"></div>
        }
        <div id="lblFrame9" class="score2"></div>
    </div>
</article>
